<!DOCTYPE html>
<html lang="en">
<head>
    <title>autoMOZI</title>
    <link rel="icon" href="static/Oleg_Olegovich.png">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<div class="solves">
    <div class="task1" {{visibility_task1}}>
        <pre>{{answer_task1}}</pre>
    </div>
    <div class="task2" {{visibility_task2}}>
    <pre>{{answer_task2}}</pre>
</div>
<div class="task3" {{visibility_task3}}>
    <pre>{{answer_task3}}</pre>
</div>
<div class="task4" {{visibility_task4}}>
    <pre>{{answer_task4}}</pre>
</div>
</div>
</body>
</html>